*{
	box-sizing: border-box;
}

html{
	overflow-x: hidden;
}

body {
	font-size: 16px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#header-nav{
	background-color: black; /*#1E1E1E;*/
	border-radius: 0;
	border: 0;
}

.divAdj{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
	height: 42px;
}

#mainTitle{
	display: flex;
	font-size: 25px;
	font-family: American Typewriter, serif;
	color: white;
	float: left;
	margin-right: 10px;
	height: 38px;
	justify-content: center;
	align-items: center;
}

/* #searchBar input{
	height: 30px;
	width: 200px;
	font-size: 17px;
	padding: 10px;
}

#searchBar button{
	background: white;
	font-size: 17px;
}

#searchBar button:hover{
	background: grey;
} */

/* #searchBarSmall{
	position: relative;
	left: 27.5%;
	height: 100px;
	top: 25px;
}

#searchBarSmall input{
	height: 30px;
	width: 40%;
}

#searchBarSmall button:hover{
	background: grey;
} */


#menuButtons{
	position: relative;
	font-family: American Typewriter, serif;
	visibility: show;
	color: white;
	/* background-color: #1E1E1E; */
	background-color: black;
	float: left;
	left: 20px;
	padding: 0;
	border: 0;
	margin: 0;
	bottom: 5px;
	margin-right: 2px;
}

#menuButtons:hover{
	background-color: #1E1E1E;
}

#menuButtons:active{
	background-color: black;
}

#menuButtons:focus{
	background-color: black;
}

#bgImage{
	background-image: url("Universe.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.paragraphText{
	position: relative;
	left: 22.5%;
	width: 50%;
}

.quoteText{
	color: white;
	font-family: American Typewriter, serif;
}

.authorText{
	color: white;
	font-family: American Typewriter, serif;
	text-align: right;
}

.space{
	height: 50px;
}

input[type = text] {
	width: 0px;
	margin-top: 0px;
	height: 42px;
	font-size: 17px;
	color: white;
	border: 0px;
	padding: 12px 20px 12px 40px;
	background-color: black;
	background-image: url('search.png');
	background-position: 8px;
	background-size: 25px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;	
	transition: width 0.4s ease-in-out;
}

input[type = text]:focus {
	width: 95%;
	border: 2px white;
    border-radius: 4px;
}

.divCon{
	position: absolute;
	right: 0;
}

@media (min-width: 900px){
	#menuButtons{
		width: 120px;
		height: 52px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	/* #searchBarSmall{
		visibility: hidden;
	} */

	.quoteText{
		font-size: 30px;
	}

	.authorText{
		font-size: 30px;
	}
}

@media (min-width: 767px) and (max-width: 900px){
	#menuButtons{
		width: 85px;
		height: 52px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	/* #searchBarSmall{
		visibility: hidden;
	} */

	input[type =text]:focus{
		width: 95%;
	} 

	.quoteText{
		font-size: 28px;
	}

	.authorText{
		font-size: 28px;
	}
} 


@media (min-width: 500px) and (max-width: 767px){
	/* #searchBar{
		visibility: hidden;
	} */

	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}

	#menuButtons{
		width: 76px;
		height: 52px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	.quoteText{
		font-size: 25px;
	}

	.authorText{
		font-size: 25px;
	}
}

@media (max-width: 500px){
	/* #searchBar{
		visibility: hidden;
	} */

	#mainTitle{
		font-size: 20px;
		margin-right: 5px;
	}

	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}

	#menuButtons{
		width: 55px;
		height: 52px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	#menuButtons{
		font-size: 15px;
	}

	.quoteText{
		font-size: 20px;
	}

	.authorText{
		font-size: 20px;
	}
}


