@media (max-width: 767px){
	*{
		box-sizing: border-box;
	}
	h1 {
		color: black;
		font-size: 41px;
		text-align: center;
		font-weight: bold;
	}

	section {
		background-color: grey;
		height: 250px;
		width: 80%;
	}

	.text {
		position: relative;
		top: -35px;
		font-size: 18px;
	}

	.positioning{
		width: 35%;
		height: 40px;
		font-size: 25px;
		border: 1px solid black;
		text-align: center;
		position: relative;
		left: 65%;
		top: -25px;
	}

	.sec{
		position: relative;
		border: 1px solid black;
		padding-left: 10px;
		left: 10%;
		margin-bottom: 25px;
		overflow: auto;
	}

	#chicken{
		background-color: #DDA0DD;
		color: black;
	}

	#beef{
		background-color: #B22222;
		color: white;
	}

	#sushi{
		background-color: #FFFFE0;
		color: black;
	}
}