*{
	box-sizing: border-box;
}

html{
	overflow-x: hidden;
}

body {
	background-image: url("BIRD.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	visibility: visible;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#header-nav{
	background-color: black; /*#1E1E1E;*/
	border-radius: 0;
	border: 0;
}

.divAdj{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
	height: 42px;
}

#mainTitle{
	display: flex;
	font-size: 25px;
	font-family: American Typewriter, serif;
	color: white;
	float: left;
	margin-right: 10px;
	height: 38px;
	justify-content: center;
	align-items: center;
}

/* #searchBar input{
	height: 30px;
	width: 200px;
	font-size: 17px;
	padding: 10px;
}

#searchBar button{
	background: white;
	font-size: 17px;
}

#searchBar button:hover{
	background: grey;
} */

/* #searchBarSmall{
	position: relative;
	left: 27.5%;
	height: 100px;
	top: 25px;
}

#searchBarSmall input{
	height: 30px;
	width: 40%;
}

#searchBarSmall button:hover{
	background: grey;
} */


#menuButtons{
	position: relative;
	font-family: American Typewriter, serif;
	visibility: show;
	color: white;
	/* background-color: #1E1E1E; */
	background-color: black;
	float: left;
	left: 20px;
	padding: 0;
	border: 0;
	margin: 0;
	bottom: 5px;
	margin-right: 2px;
}

#menuButtons:hover{
	background-color: #1E1E1E;
}

#menuButtons:active{
	background-color: black;
}

#menuButtons:focus{
	background-color: black;
}

.bgImages{
	background-image: url("BIRD.jpg");
/* 	background-size: cover;
	background-repeat: no-repeat; */
	background-attachment: fixed; 
	/*background-size: contain; */
	visibility: visible;
}

.paragraphText{
	position: relative;
	left: 22.5%;
	width: 50%;
}

.quoteText{
	color: white;
	font-family: American Typewriter, serif;
}

.authorText{
	color: white;
	font-family: American Typewriter, serif;
	text-align: right;
}

.space{
	height: 50px;
}

input[type = text] {
	width: 0px;
	margin-top: 0px;
	height: 42px;
	font-size: 17px;
	color: white;
	border: 0px;
	padding: 12px 20px 12px 40px;
	background-color: black;
	background-image: url('search.png');
	background-position: 8px;
	background-size: 25px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;	
	transition: width 0.4s ease-in-out;
}

input[type = text]:focus {
	width: 95%;
	border: 2px white;
	border-radius: 4px;
}

.divCon{
	position: absolute;
	right: 0;
}

.mainContent{
	height: 300px;
	width: 100%;
}

.footer{
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 5px;
	background-color:#404040;
}

.quoteDayContainer{
	height: 100%;
	width: 100%;
}

.quoteDayHeader{
	color: black;
	text-align : center;
}

.quoteOfTheDay{
	position: relative;
	text-align: center;
}

.mostPopularContainer {
    display: grid;
}

.mostPopularContainer a {
    display: flex;
    color: white;
    opacity: 100;
    padding: 0px;
    border: 0px;
    height: 200px;
    justify-content: center;
    align-items: center;
    enable-background: initial;
    background-image:  url("nature2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mostPopularContainer a:hover{
    color :	white;
}

.mostPopularCaption{
	color: black;
	text-align: left;
}

@media (min-width: 900px){
	#menuButtons{
		width: 120px;
		height: 52px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	/* #searchBarSmall{
		visibility: hidden;
	} */

	.quoteText{
		font-size: 30px;
	}

	.authorText{
		font-size: 30px;
	}

	.mostPopularContainer{
        grid-template-columns: repeat(3, 1fr);
    }

    .mostPopularContainer a{
        font-size: 25px;
		margin: 30px;
	}
	
	.quoteOfTheDay{
		font-size: 20px;
		width: 60%;
		left: 20%;
	}

	.mostPopularCaption{
		margin: 30px;
		margin-top : 0px;
		font-size: 19px;
	}

	.bigException{
		position: absolute;
		visibility: hidden;
	}
}

@media (min-width: 767px) and (max-width: 900px){
	#menuButtons{
		width: 85px;
		height: 52px;
	}
	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}
	/* #searchBarSmall{
		visibility: hidden;
	} */

	input[type =text]:focus{
		width: 95%;
	} 

	.quoteText{
		font-size: 28px;
	}

	.authorText{
		font-size: 28px;
	}

	.mostPopularContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    .mostPopularContainer a{
        font-size: 23px;
		margin: 30px;
	}
	
	.quoteDayHeader{
		font-size: 28px;
	}

	.quoteOfTheDay{
		font-size: 18px;
		width: 70%;
		left: 15%;
	}

	.mostPopularCaption{
		margin: 30px;
		margin-top : 0px;
		font-size: 17px;
	}

	.exception{
		position: absolute;
		visibility: hidden;
	}

	.bigException{
		position: absolute;
		visibility: hidden;
	}
} 


@media (min-width: 500px) and (max-width: 767px){
	/* #searchBar{
		visibility: hidden;
	} */

	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}

	#menuButtons{
		width: 76px;
		height: 52px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	.quoteText{
		font-size: 25px;
	}

	.authorText{
		font-size: 25px;
	}

	.mostPopularContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    .mostPopularContainer a{
        font-size: 20px;
        margin: 15px;
	}
	
	.quoteDayHeader{
		font-size: 25px;
	}

	.quoteOfTheDay{
		font-size: 18px;
		width: 80%;
		left: 10%;
	}

	.exception{
		position: absolute;
		visibility: hidden;
	}

	.bigException{
		position: absolute;
		visibility: hidden;
	}

	.mostPopularCaption{
		margin: 30px;
		margin-top : 0px;
		font-size: 16px;
	}
}

@media (max-width: 500px){
	/* #searchBar{
		visibility: hidden;
	} */

	#mainTitle{
		font-size: 20px;
		margin-right: 5px;
	}

	#searchBar{
		position: absolute;
		right: 0; 
		margin-right: 10px;
	}

	#menuButtons{
		width: 55px;
		height: 52px;
	}

	input[type ="text"]{
		float: right;
	}

	input[type =text]:focus{
		width: 90%;
	} 

	.divCon{
		width: 108%;
		right: 5px;
	}

	#menuButtons{
		font-size: 15px;
	}

	.quoteText{
		font-size: 20px;
	}

	.authorText{
		font-size: 20px;
	}

	.mostPopularContainer{
        grid-template-columns: repeat(1, 1fr);
    }

    .mostPopularContainer a{
		font-size: 25px;
		height: 250px;
        margin: 24px;
	}
	
	.quoteDayHeader{
		font-size: 23px;
	}

	.quoteOfTheDay{
		font-size: 17px;
		width: 90%;
		left: 5%;
	}

	.mostPopularCaption{
		margin: 30px;
		margin-top : 0px;
		font-size: 17px;
	}

	.smallException{
		position: absolute;
		visibility: hidden;
	}
}








.row:after {
    content: "";
    display: table;
	clear: both;
  }

.column {
    float: left;
    width: 16.6%;
	padding: 10px;
	text-align: center;
  }

.links {
    color: black;
    padding-left: 15px;
    margin: 0px;
    border: 0px;
    margin-bottom: 10px;
    text-align: center;
    enable-background: initial;  
}

.links:hover{
    color: black;
}

.topics{
    color: black;
    padding-left: 15px;
	text-decoration: underline;
	text-align: center;
}


@media (min-width: 900px){
    .column{
        width: 33.3%;
    }

    .links{
        font-size: 18px;
    }

    .topics{
        font-size: 18px;
    }
}


@media (min-width: 767px) and (max-width: 900px){
    .column{
        width: 20%;
    }

    .links{ 
        font-size: 16px;
    }

    .topics{
        font-size: 16px;
    }
}


@media (min-width: 500px) and (max-width: 767px){
    .column{
        width: 25%;
    }

    .links{
        font-size: 14px;
    }

    .topics{
        font-size: 14px;
    }
}

@media (max-width: 500px){
    .column{
        width: 33.3%;
    }

    .links{
        font-size: 13px;
    }

    .topics{
        font-size: 13px;
    } 
} 


